<div class="grid justify-content-center">

    <div class="field col-12 text-center">
        <button pButton class="b-primary px-5 py-2 mx-2" label="Prueba 1">
        </button>
        <button pButton class="b-secondary px-5 py-2" label="Prueba 2">
        </button>
    </div>

    <div class="col-12">
        <p-table [value]="lInventory">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo Vin</th>
                    <th>Color</th>
                    <th>Categoria</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inventory>
                <tr>
                    <td>{{inventory.codigo_vin}}</td>
                    <td class="text-center">
                        <i class="pi pi-circle-fill" [style]="'color: '+ inventory.color"
                            [pTooltip]="inventory.color">
                        </i>
                    </td>
                    <td>{{inventory.categoria.nombre}}</td>
                    <td>{{inventory.modelo.nombre}}</td>
                    <td>{{inventory.marca.nombre}}</td>
                    <td>S/. {{inventory.modelo.precio | number : "1.2-2"}}</td>
                    <td>{{inventory.estado.nombre}}</td>
                    <td class="text-center">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary mr-2" 
                        (click)="openDialog()">
                        </button>
                        <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>