<div class="login">
    <p-card class="w-30rem">
        <h3 class="text-center text-xl">Iniciar Sesión</h3>

        <div class="p-fluid grid px-3">

            <!-- Correo -->
            <div class="field col-12">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Correo</label>
                </span>
            </div>

            <!-- Contraseña -->
            <div class="field col-12">
                <span class="p-float-label">
                    <p-password [feedback]="false" [toggleMask]="true"></p-password>
                    <label for="inputtext-left">Contraseña</label>
                </span>
            </div>

            <div class="col-12">
                <button pButton class="b-primary" label="Ingresar" (click)="logIn()"></button>
            </div>

        </div>
    </p-card>
</div>